*{
    background-color: black;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/*Логотип + текст*/

.logo-container {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 400px;
}

.Logo {
    height: 125px;
    width: 100%;
    display: block;
}

.ai {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 10px;
}

/*Повернення на головну сторінку*/

.bttmp{
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    color: #565656;
    text-decoration: none;
}

/*Тексти */

.texts{
    position: absolute;
    top: 200px;
    transform: translateX(5%);
    height: 700px;
    width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.texts p,h3{
    color: white;
}
.texts h3{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 12px;
    line-height: normal;
    color: #565656;
    margin-bottom: 0px;
}
.texts p{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    position: absolute;
}
.texts div{
    position: relative;
}
.text1{
    height: 374px;
    width: 417px;
    transform: translateX(-40%);
}
.text2{
    height: 374px;
    width: 417px;
    transform: translateX(70%);
}
.text3{
    height: 35px;
    width: 1464px;
    text-align: center;
    transform: translateX(8%);
}